<html>
<head>
    <title>Dashboard</title>

</head>
<body>
<div class="row">
    <form method="POST">
        <label>First Name<input type="text"
                                placeholder="Enter your first name"></input><br/><br/>
        </label>
        <label>Last Name<input type="text"
                               placeholder="Enter your last name"></input><br/><br/>
        </label>
        <label>Dob<input type="text"
                         placeholder="Enter your dob"></input><br/><br/>
        </label>
        <label>Gender</label> <input type="radio" name="gender"
                                     value="M" id="male"></input><label>Male</label>
        <input type="radio" name="gender" value="F" id="female"></input><label>Female</label>
        <br/><br/><br/>
        <input type="submit" class="button" value="Insert Member Info"></input>
</form>
</div>
</body>
</html>
